#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6em;
  width: 100%;
  background-color: #174859;
}

#logo {
  color: #F9FDFE;
  font-size: 4em;
  font-family: 'Scope One';
  margin-left: 15px;
  font-weight: lighter;
  @media (max-width: 415px) {
    font-size: 3.4em;
  }
  @media (max-width: 378px) {
    font-size: 2.7em;
  }
}

#logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#hamburger {
  @media (min-width: 851px) {
    display: none !important;
  }
}

#nav-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 850px) {
    display: none;
  }
}

#handshake {
  margin-left: 15px;
  height: 80px;
  @media (max-width: 520px) {
    display: none;
  }
}
