@import "variables";

#applicant-info {
  align-items: center;
  border: 1px solid $darkBlue;
  border-radius: 9px;
  color: $darkBlue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Scope One';
  font-weight: lighter;
  font-size: 1em;
  justify-content: space-around;
  margin: 10px 20px;
  width: 80%;
}

#application-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  font-weight: lighter;
}

h4 {
  margin: 0;
  font-size: 1.1em;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#application-body-container {
  margin: 0 100px;
}

#education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#title-label {
  font-family: 'Scope One';
  font-weight: lighter;
  font-size: 1.7em;
  text-align: center;
}
